@font-face{
	font-family: "octicons";
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/octicons.eot?#iefix") format("embedded-opentype"), url("/fonts/octicons.woff") format("woff"), url("/fonts/octicons.ttf") format("truetype"), url("/fonts/octicons.svg#octicons") format("svg");
}


html,
body{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 13px;
	font-family: DAN;
	color: #525252;
}



a{
	text-decoration: none;
	color: #119AB4;
}

a:hover{
	text-decoration: none;
	color: #1C6E72;
}

.clearfix{
	clear: both;
}

#header{
	height: 60px;
	background-color: #00B5C6;/*#F1362F*/
	border-bottom: 3px solid #119AB4;
}

.wrapper{
	margin: auto;
	width: 1200px;
}

#nav{
	float: right;
	width: 250px;
	padding: 70px 0 0 0;
}

#content{
	float: left;
	width: 930px;
	padding: 70px 0 0 0;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h5,
#content h6,
#content p{
	text-align: right;
	direction: rtl;
}

#content h1{
	font-size: 3em;
	margin-top: -15px !important;
	font-weight: normal;
}

#content h2{
	margin-top: 35px;
	font-size: 1.8em;
	position: relative;
}

#content h2:hover:before {
    color: #00B5C6;
    content: "ïœ";
    font-size: 19px;
    font-family: octicons;
    padding: 3px 7px;
    margin-right: -33px;
    opacity: 0.6;
    position: absolute;
    top: 5px;
    cursor: pointer;
}

#content h3{
	font-size: 1.25em;
}

#content p{
	text-align: justify;
	margin: 5px 0 10px 0;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h5,
#content h6{
	color: #000;
	direction: rtl;
	line-height: 1.8em;
	margin: 2em 0 .5em 0;
	font-weight: normal;
}



#content > ul{
	direction: rtl;
	padding: 0;
	margin: 0;
	list-style-position: inside;
}

#content code{
	background-color: #F0F2F1;
	padding: 1px 3px;
	margin: 0 3px;
	border-radius: 3px;
	color: #119AB4;
}
/**/
#nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav ul li{
	direction: rtl;
}

/**/

#nav > ul > li{
	font-weight: bold;
	font-size: 1.1em;
}

#nav > ul > li a{
	font-weight: normal;
	font-size: 13px;
	text-decoration: none;
}

#nav > ul > li > ul{
	margin: 5px 0 30px 0;
	padding: 5px 0 0 0;
	border-top: 1px dotted #CCC;
}

#nav > ul > li > ul > li{
	line-height: 1.75em;
}

#footer{
	background-color: #F0F2F1;
	margin-top: 100px;
	padding: 50px 0;
	/*background-color: #00B5C6;*//*#F1362F*/
	border-top: 3px solid #119AB4;
}

#footer nav ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	direction: rtl;
}

#footer nav ul li{
	display: inline-block;
	margin: 0 40px;
}

#footer nav ul li a{
	color: #525252;
}

/**/

