
pre code{
	color: inherit !important;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after{
	content: "";
	display: none;

}

code[class*="language-"],
pre[class*="language-"]{
	padding: 0px;
	border: 0;
	font-size: 13px;
	line-height: 1.9em;
}

code[class*="language-"]{
	margin: 0;
}

pre[class*="language-"]{
	background-color: #F0F2F1;/*#F0F2F1*/
	background-image: none;
	box-shadow: none;
	padding: .5em .5em;
	border-radius: 5px;
	margin: 10px 0 20px 0;
	border-left: 2px solid #EFA800;
}

/**/
.token.scope{
	color: #26A9B3;
	font-weight: bold;
}

.token.keyword{
	color: #5377C5;
}

.token.function{
	color: #333;
}

.token.string{
	color: #FF7C7C;
}

.token.variable{
	color: #4ea1df;
}

.token.operator,
.token.entity,
.token.url,
.token.variable{
    background: none;
}